
.parallax1 {
    /* The image used */
    background-image: url('Images/pexels-neo-2653362.jpg');
  
    /* Set a specific height */
    
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  
.parallax2 {
    /* The image used */
    background-image: url('Images/pexels-alex-andrews-821754.jpg');
  
    /* Set a specific height */
    
    height: 300px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
/* 
  .caption{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
} */



 .ab-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2px;
 }

#card-section{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
}

.card-col{
    padding: 2% 5%;
    
}

.card:hover{
    box-shadow: 5px 10px 20px 1px darkgrey;
}

.social-list {
    padding: 50px;
    text-align: center;
}

.social-list li{
    display: inline;
    padding: 2px;

}

.fb-icon{
    color:#0f90ec;
}
.fb-icon:hover{
    color:#0b65a8;
}

.yt-icon{
    color: red;
}

.yt-icon:hover{
    color: #950000;
}

.pt-icon{
    color:#cc2127;
}
.pt-icon:hover{
    color: #96181c;
}

.hk-icon{
    color:#22b254;
}
.hk-icon:hover{
    color:#167638;
}

.git{
    color: #25292f;
}

.quora{
    color: #b42a26;
}
.stack{
    color:#e77d1a;
}
.git:hover{
    color: #25292f;
}

.quora:hover{
    color: #671816;
}
.stack:hover{
    color:#532c09;
}


/* Text Animation */

.auto_text {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @import url('https://fonts.googleapis.com/css?family=Montserrat');
  .auto_text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
  }
  .auto_text p span.typed-text {
    font-weight: normal;
    color: #dd7732;
  }
  .auto_text p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .auto_text p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }